openapi: 3.0.3
info:
  title: Choozle Reporting API
  description: >
    REST API for accessing campaign performance data, account information, and
    advertising metrics across all channels managed within the Choozle platform.
    Supports programmatic retrieval of spend, impressions, clicks, conversions,
    and other KPIs by account, date range, and ad group.
  version: '1.0'
  contact:
    name: Choozle Support
    url: https://help.choozle.com/
  termsOfService: https://choozle.com/terms-of-service/
externalDocs:
  description: Choozle Reporting API Documentation
  url: https://help.choozle.com/connecting-to-choozles-reporting-api
servers:
  - url: https://app.choozle.com/api
    description: Choozle production API
security:
  - tokenHeader: []
paths:
  /authorization:
    post:
      operationId: getAuthorizationToken
      summary: Obtain an API authorization token
      description: >
        Authenticates a user and returns a time-limited token for use in
        subsequent API requests. The token is valid for 2 hours. The request
        body must include a HMAC-SHA256 signature (hex format) computed over
        the email and timestamp using the user's API secret key.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - email
                - timestamp
                - signature
              properties:
                email:
                  type: string
                  format: email
                  description: The registered Choozle account email address.
                  example: user@example.com
                timestamp:
                  type: integer
                  description: Unix epoch timestamp (seconds) used in signature computation.
                  example: 1674000000
                signature:
                  type: string
                  description: HMAC-SHA256 hex digest of the email and timestamp using the API secret key.
                  example: a3f2c1d4e5b6789012345678abcdef0123456789abcdef0123456789abcdef01
      responses:
        '200':
          description: Successful authentication; returns a bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationToken'
              example:
                token: 2fb94ad2e255b2d3961f5178ccf5ac105825156c2c84ac2bff48bd49b4ef69b7
        '401':
          description: Authentication failed due to invalid credentials or signature.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts:
    get:
      operationId: listAccounts
      summary: List accessible advertising accounts
      description: Returns a list of Choozle advertising accounts accessible to the authenticated user.
      responses:
        '200':
          description: A list of account objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '401':
          description: Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports:
    get:
      operationId: getReports
      summary: Retrieve campaign performance reports
      description: >
        Returns campaign performance metrics for the specified account and date
        range. Optionally filter results by ad group. Metrics include spend,
        impressions, clicks, conversions, and other KPIs.
      parameters:
        - name: account_id
          in: query
          required: true
          description: The numeric identifier of the account to report on.
          schema:
            type: integer
            example: 8737
        - name: date_start
          in: query
          required: true
          description: Start date of the reporting period in YYYY-MM-DD format.
          schema:
            type: string
            format: date
            example: '2023-01-16'
        - name: date_end
          in: query
          required: true
          description: End date of the reporting period in YYYY-MM-DD format.
          schema:
            type: string
            format: date
            example: '2023-02-16'
        - name: ad_group_id
          in: query
          required: false
          description: Optional numeric identifier for a specific ad group to filter results.
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: Performance report data for the requested account and date range.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReportRow'
        '400':
          description: Bad request — missing or invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authorization token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: >
        API token obtained from the /authorization endpoint. Valid for 2 hours.
        Pass the token value as the `token` request header.
  schemas:
    AuthorizationToken:
      type: object
      description: Authorization token returned after successful authentication.
      properties:
        token:
          type: string
          description: Bearer token string to use in subsequent API calls.
          example: 2fb94ad2e255b2d3961f5178ccf5ac105825156c2c84ac2bff48bd49b4ef69b7
    Account:
      type: object
      description: A Choozle advertising account.
      properties:
        id:
          type: integer
          description: Unique numeric account identifier.
          example: 8737
        name:
          type: string
          description: Human-readable account name.
          example: Acme Corp Account
    ReportRow:
      type: object
      description: A single row of campaign performance data.
      properties:
        account_id:
          type: integer
          description: Account identifier.
          example: 8737
        ad_group_id:
          type: integer
          description: Ad group identifier (if filtered).
          example: 12345
        date:
          type: string
          format: date
          description: Date of the reported metrics.
          example: '2023-01-16'
        impressions:
          type: integer
          description: Number of ad impressions served.
          example: 100000
        clicks:
          type: integer
          description: Number of clicks recorded.
          example: 850
        spend:
          type: number
          format: float
          description: Total spend in USD for the period.
          example: 1250.75
        conversions:
          type: integer
          description: Number of attributed conversions.
          example: 42
        ctr:
          type: number
          format: float
          description: Click-through rate (clicks / impressions).
          example: 0.0085
        cpc:
          type: number
          format: float
          description: Cost per click in USD.
          example: 1.47
        cpm:
          type: number
          format: float
          description: Cost per thousand impressions in USD.
          example: 12.51
    Error:
      type: object
      description: API error response.
      properties:
        error:
          type: string
          description: Human-readable error message.
          example: Unauthorized
